@using DataAnalysisSystem.DTOViewModels

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Data Analysis System</title>

    <!-- #region Dependencies -->

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <partial name="_CSSDependenciesPartial" />
    <partial name="_JSDependenciesPartial" />

</head>

<body class="has-fixed-sidenav">
    <header>

        <!-- #region Top Navbar -->

        <div class="navbar-fixed">
            <nav class="navbar white">
                <div class="nav-wrapper">
                    <a asp-controller="..." asp-action="..." class="brand-logo grey-text text-darken-4 valign-wrapper" style="margin-top:10px; font-size:24px"><img src="~/images/logo_small.png" width="40" height="40" />  Data Analysis System</a>

                    <ul id="nav-mobile" class="right">
                        <li><a href="#!" data-target="chat-dropdown" class="dropdown-trigger waves-effect"><i class="material-icons">settings</i></a></li>
                    </ul>

                    <a href="#" data-target="sidenav-left" class="sidenav-trigger left"><i class="material-icons black-text">menu</i></a>

                </div>

                @RenderSection("NavContent", required: false)

            </nav>
        </div>

        @RenderSection("Notification", required: false)

        <!-- #endregion -->
        <!-- #region Left Navbar -->
        <ul id="sidenav-left" class="sidenav sidenav-fixed teal lighten-1">
            <li><a href="#" class="logo-container" style="font-weight:bold">Menu<i class="material-icons left">gamepad</i></a></li>
            <ul class="collapsible expandable">
                <li class="bold waves-effect">
                    <a class="collapsible-header not-collapse" style="font-weight:bold">Datasets</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a asp-controller="..." asp-action="..." class="waves-effect">Add new dataset<i class="material-icons">description</i></a></li>
                            <li><a asp-controller="..." asp-action="..." class="waves-effect">List of datasets<i class="material-icons">view_list</i></a></li>
                            <li><a asp-controller="..." asp-action="..." class="waves-effect">Share the dataset<i class="material-icons">folder_shared</i></a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold waves-effect">
                    <a class="collapsible-header not-collapse" style="font-weight:bold">Analysis of data</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a asp-controller="..." asp-action="..." class="waves-effect">Perform the analysis<i class="material-icons">format_shapes</i></a></li>
                            <li><a asp-controller="..." asp-action="..." class="waves-effect">History of performed analyses<i class="material-icons">history</i></a></li>
                            <li><a asp-controller="..." asp-action="..." class="waves-effect">Available exploration methods<i class="material-icons">functions</i></a></li>
                            <li><a asp-controller="..." asp-action="..." class="waves-effect">Share the analysis<i class="material-icons">screen_share</i></a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold waves-effect">
                    <a class="collapsible-header not-collapse" style="font-weight:bold">Resources made available</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a asp-controller="..." asp-action="..." class="waves-effect">Dataset browser<i class="material-icons">sticky_note_2</i></a></li>
                            <li><a asp-controller="..." asp-action="..." class="waves-effect">Analysis browser<i class="material-icons">leaderboard</i></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <li class="center-align" style="width:100%; vertical-align:text-bottom"><div class="divider"></div><span style="font-weight:bold; color:#F0F2F1">© Copyright Łukasz Czepielik 2020/2021</span></li>
        </ul>

        <div id="chat-dropdown" class="dropdown-content dropdown-tabbed">
            <div id="settings" class="col s12">
                <div class="settings-group">
                    <div class="setting">
                        <a asp-controller="..." asp-action="..." class="waves-effect waves-light btn-large teal lighten-1 white-text" style="width:140px; height:54px"> Account</a>
                    </div>

                    <partial name="_LogoutPartial" />

                </div>
            </div>

        </div>
    </header>

    <!-- #region Logout Modal -->
    @if (!this.User.Identity.IsAuthenticated)
    {
        @await Component.InvokeAsync("ModalPopupWindow", new ModalPopupViewModel
                                                        {
                                                         ModalIdentificator = "modalLogout",
                                                         ModalTitle = "Logout from application",
                                                         ModalContent = "Are you sure you want to leave the application ?",

                                                         ControllerName = null,
                                                         ActionName = null,
                                                         RouteAdditionalArguments = null,

                                                         ModalActAsForm = true,
                                                         LabelOnButton = "Do it"
                                                        })
    }
    <!-- #endregion -->
    <!-- #region Children Containers -->

    <div class="container">
        <main role="main" style="margin-bottom: 3%">

            @RenderBody()

        </main>
    </div>

    <!-- #endregion -->

    <footer class="page-footer center-align">
        <div class="container">
            <div class="row">
                <div class="col s6 m4">
                    <h6><a asp-controller="..." asp-action="..." class="waves-effect teal-text text-lighten-1"><i class="material-icons prefix">alternate_email</i>  Contact</a></h6>
                </div>
                <div class="col s6 m4">
                    <h6><a asp-controller="..." asp-action="..." class="waves-effect teal-text text-lighten-1"><i class="material-icons prefix">mode_edit</i>  About application</a></h6>
                </div>
                <div class="col s0 m4">

                </div>
            </div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)

</body>
</html>
