<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Data Analysis System</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico">

    <!-- #region Dependencies -->

    <partial name="_CSSDependenciesPartial" />
    <partial name="_JSDependenciesPartial" />

    <!-- #endregion -->

</head>

<body class="fixed-sidenav">
    <header>

        <!-- #region Top Navbar -->
        <div class="navbar-fixed">
            <nav id="navbarTop" class="navbar white">
                <div class="nav-wrapper">

                    <a asp-controller="UserSystemInteraction" asp-action="MainAction" class="brand-logo grey-text text-darken-4 valign-wrapper" style="margin-top:10px; font-size:20px"><img id="logo" src="~/images/logo_small.png" width="40" height="40" /><span id="applicationName"></span></a>

                    <ul class="right">
                        <li><a href="#!" data-target="options-list" class="dropdown-trigger waves-effect"><i class="material-icons" style="color:black">settings</i></a></li>
                    </ul>

                    <a data-target="sidenav-left" class="sidenav-trigger left"><i class="material-icons black-text">menu</i></a>

                </div>

                @RenderSection("NavContent", required: false)

            </nav>
        </div>

        @RenderSection("Notification", required: false)

        <!-- #endregion -->
        <!-- #region Left Navbar -->
        <ul id="sidenav-left" class="sidenav sidenav-fixed teal lighten-1">
            <li><a href="#" class="sidenav-header">Menu<i class="material-icons left">gamepad</i></a></li>
            <ul class="collapsible expandable">
                <li class="bold waves-effect">
                    <a class="collapsible-header not-collapse">Datasets</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a asp-controller="Dataset" asp-action="AddNewDataset" class="waves-effect waves-light">Add new dataset<i class="material-icons">description</i></a></li>
                            <li><a asp-controller="Dataset" asp-action="UserDatasets" class="waves-effect waves-light">List of datasets<i class="material-icons">view_list</i></a></li>
                            <li><a asp-controller="Dataset" asp-action="UserSharedDatasets" class="waves-effect waves-light">Share the dataset<i class="material-icons">folder_shared</i></a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold waves-effect">
                    <a class="collapsible-header not-collapse">Analysis of data</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a asp-controller="Analysis" asp-action="PerformNewAnalysis" class="waves-effect waves-light">Perform the analysis<i class="material-icons">format_shapes</i></a></li>
                            <li><a asp-controller="Analysis" asp-action="UserAnalyses" class="waves-effect waves-light">History of performed analyses<i class="material-icons">history</i></a></li>
                            <li><a asp-controller="..." asp-action="..." class="waves-effect waves-light">Available exploration methods<i class="material-icons">functions</i></a></li>
                            <li><a asp-controller="Analysis" asp-action="UserSharedAnalysis" class="waves-effect waves-light">Share the analysis<i class="material-icons">screen_share</i></a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold waves-effect">
                    <a class="collapsible-header not-collapse">Resources made available</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a asp-controller="Dataset" asp-action="SharedDatasetsBrowser" class="waves-effect waves-light">Dataset browser<i class="material-icons">sticky_note_2</i></a></li>
                            <li><a asp-controller="Analysis" asp-action="SharedAnalysisBrowser" class="waves-effect waves-light">Analysis browser<i class="material-icons">leaderboard</i></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <li class="center-align" style="width:100%; vertical-align:text-bottom"><div class="divider"></div><span style="font-weight:bold; color:#F0F2F1">© Łukasz Czepielik 2020/2021</span></li>
        </ul>

        <div id="options-list" class="dropdown-content">
            <div class="col s12">
                <div class="options-container">
                    <div class="single-option">
                        <a asp-controller="User" asp-action="EditUserData" class="waves-effect waves-light btn-large teal lighten-1 white-text" style="width:140px; height:54px">Account</a>
                    </div>

                    <partial name="_LogoutPartial" />

                </div>
            </div>

        </div>
    </header>

    <!-- #region Logout Modal -->
    @if (this.User.Identity.IsAuthenticated)
    {
        @await Component.InvokeAsync("ModalPopupWindow", new ModalPopupViewModel
                                                        {
                                                         ModalIdentificator = "modalLogout",
                                                         ModalTitle = "Logout from application",
                                                         ModalContent = "Are you sure you want to leave the application?",

                                                         ControllerName = "User",
                                                         ActionName = "UserLogout",
                                                         RouteAdditionalArguments = null,

                                                         ModalActAsForm = false,
                                                         LabelOnButton = "Do it"
                                                        })
    }
    <!-- #endregion -->
    <!-- #region Children Containers -->
    <div class="container">
        <main role="main" style="margin-bottom: 3vh; margin-top: 3vh">

            @RenderBody()

        </main>
    </div>
    <!-- #endregion -->
    <!-- #region Footer -->
    <footer class="page-footer center-align" style="margin-bottom: 0px; margin-top:auto">
        <div class="container">
            <div class="row">
                <div class="col s6 m4">
                    <h6><a asp-controller="UserSystemInteraction" asp-action="ContactWithAdministration" class="waves-effect teal-text text-lighten-1"><i class="material-icons prefix">alternate_email</i>  Contact</a></h6>
                </div>
                <div class="col s6 m4">
                    <h6><a asp-controller="UserSystemInteraction" asp-action="AboutTheProject" class="waves-effect teal-text text-lighten-1"><i class="material-icons prefix">mode_edit</i>  About</a></h6>
                </div>
                <div class="col s6 m4">
                    <h6><a href="https://github.com/Korag/DataAnalysisSystem" class="waves-effect teal-text text-lighten-1"><i class="material-icons prefix">how_to_vote</i>  Contribute</a></h6>
                </div>
            </div>
        </div>
    </footer>
    <!-- #endregion -->

    @{await Html.RenderPartialAsync("_AuthorizedUserLayoutChangeNavbarScript");}
    @{await Html.RenderPartialAsync("_AuthorizedUserLayoutElementsScript");}

    @RenderSection("Scripts", required: false)

</body>
</html>
