@using DataAnalysisSystem.DTO.AdditionalFunctionalities

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Data Analysis System</title>

    <!-- #region Dependencies -->

    <link rel="icon" type="image/x-icon" href="~/favicon.ico">

    <partial name="_CSSDependenciesPartial" />
    <partial name="_JSDependenciesPartial" />

</head>

<body>
    <header>

        <!-- #region Top Navbar -->

        <div class="navbar-fixed">
            <nav class="navbar white">
                <div class="nav-wrapper col-12">

                    <div class="m8 s6">
                        <a asp-controller="User" asp-action="UserLogin" class="brand-logo grey-text text-darken-4 valign-wrapper" style="margin-top:10px; font-size:20px"><img src="~/images/logo_small.png" width="40" height="40" /><span id="applicationName">  Data Analysis System</span></a>
                    </div>

                    <div class="m4 s6">
                        <ul id="nav-mobile" class="right">
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>

                </div>

                @RenderSection("NavContent", required: false)

            </nav>
        </div>

        @RenderSection("Notification", required: false)

    </header>

    <!-- #endregion -->
    <!-- #region Children Containers -->

    <div class="container">
        <main role="main" style="margin-bottom: 3%; margin-top: 3%">

            @RenderBody()

        </main>
    </div>

    <!-- #endregion -->

    <footer class="page-footer center-align" style="padding: 5px 5px; max-width: 300px; margin-top: auto">
        <div class="container">
            <div class="row">
                <div class="col s6 m4">
                    <h7><a asp-controller="UserSystemInteraction" asp-action="ContactWithAdministration" class="waves-effect teal-text text-lighten-1"><i class="material-icons prefix">alternate_email</i>  Contact</a></h7>
                </div>
                <div class="col s6 m4">
                    <h7><a asp-controller="UserSystemInteraction" asp-action="AboutTheProject" class="waves-effect teal-text text-lighten-1"><i class="material-icons prefix">mode_edit</i> About</a></h7>
                </div>
                <div class="col s6 m4">
                    <h7><a href="https://github.com/Korag/DataAnalysisSystem" class="waves-effect teal-text text-lighten-1"><i class="material-icons prefix">how_to_vote</i>  Contribute</a></h7>
                </div>
            </div>
        </div>
    </footer>

    <footer class="page-footer" style="padding: 20px 20px; margin-top: 0px">
        <div class="container">
            <div class="row center-align">
                <div class="col s12 m12">
                    <h6 class="teal-text text-lighten-1">© Łukasz Czepielik 2020/2021</h6>
                </div>
            </div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)

    <script>
        $(window).on('resize', function () {
            var win = $(this);
            if (win.width() < 520) {
                $("#applicationName").text(' D.A.S.');
            }
            if (win.width() >= 520) {
                $("#applicationName").text(' Data Analysis System');
            }
        });
    </script>

</body>
</html>
