@model DataAnalysisSystem.DTO.AnalysisDTO.PerformNewAnalysisViewModel

<div class="row" style="margin-top: 2vh; margin-bottom: 2vh;">
    <div class="col s12">
        <div class="card" style="display:block;">
            <div class="card-content">
                <span class="card-title center-align">Add Histogram Method Parameters</span>
                <span class="card-title center teal-text text-lighten-1"></span>

                @{await Html.RenderPartialAsync("_LoadingIndicatorPartial", "addHistogramDataTableLoadingIndicator");}

                <table id="addHistogramParametersDataTable" class="row-border highlight striped" cellspacing="0" width="100%" style="display:none">
                    <thead>

                        <tr>
                            @for (int i = 0; i < Model.AnalysisParameters.HistogramParameters.NumberColumns.Count() + Model.AnalysisParameters.HistogramParameters.StringColumns.Count(); i++)
                            {
                                var numberColumn = Model.AnalysisParameters.HistogramParameters.NumberColumns.Where(z => z.PositionInDataset == i).FirstOrDefault();

                                if (numberColumn != null)
                                {
                                    int index = Model.AnalysisParameters.HistogramParameters.NumberColumns.IndexOf(numberColumn);

                                    <th>
                                        @numberColumn.AttributeName

                                        <input asp-for="@Model.AnalysisParameters.HistogramParameters.NumberColumns[index].AttributeName" value="@Model.AnalysisParameters.HistogramParameters.NumberColumns[index].AttributeName" readonly hidden />

                                        <p class="center" onclick="StopEventPropagation(event)">
                                            <label>
                                                <input asp-for="@Model.AnalysisParameters.HistogramParameters.NumberColumns[index].ColumnSelected" type="checkbox" class="filled-in" />
                                                <span></span>
                                            </label>
                                        </p>

                                        <input asp-for="@Model.AnalysisParameters.HistogramParameters.NumberColumns[index].Range" value="@Model.AnalysisParameters.HistogramParameters.NumberColumns[index].Range" required="" aria-required="true" class="validate" onclick="StopEventPropagation(event)" style="width:auto; text-align: center" />
                                    </th>
                                }
                                else
                                {
                                    var stringColumn = Model.AnalysisParameters.HistogramParameters.StringColumns.Where(z => z.PositionInDataset == i).FirstOrDefault();
                                    int index = Model.AnalysisParameters.HistogramParameters.StringColumns.IndexOf(stringColumn);

                                    <th>
                                        @stringColumn.AttributeName

                                        <input asp-for="@Model.AnalysisParameters.HistogramParameters.StringColumns[index].AttributeName" value="@Model.AnalysisParameters.HistogramParameters.StringColumns[index].AttributeName" readonly hidden />

                                        <p class="center" onclick="StopEventPropagation(event)">
                                            <label>
                                                <input asp-for="@Model.AnalysisParameters.HistogramParameters.StringColumns[index].ColumnSelected" type="checkbox" class="filled-in" readonly disabled />
                                                <span></span>
                                            </label>
                                        </p>
                                        <input readonly disabled style="width:auto" />
                                    </th>
                                }
                            }
                        </tr>

                    </thead>
                    <tbody>

                        @for (int i = 0; i < Model.AnalysisParameters.HistogramParameters.NumberColumns.FirstOrDefault().AttributeValue.Count(); i++)
                        {
                            var n = 0;
                            var s = 0;

                            <tr>
                                @for (int j = 0; j < Model.AnalysisParameters.HistogramParameters.NumberColumns.Count() + Model.AnalysisParameters.HistogramParameters.StringColumns.Count(); j++)
                                {
                                    var numberColumn = Model.AnalysisParameters.HistogramParameters.NumberColumns.Where(z => z.PositionInDataset == j).FirstOrDefault();
                                    var position = Model.AnalysisParameters.HistogramParameters.NumberColumns.Where(z => z.PositionInDataset == j).FirstOrDefault();

                                    if (numberColumn != null)
                                    {
                                        <td>
                                            @numberColumn.AttributeValue[i]

                                            <input asp-for="@Model.AnalysisParameters.HistogramParameters.NumberColumns[n].AttributeValue" value="@Model.AnalysisParameters.HistogramParameters.NumberColumns[n].AttributeValue" readonly hidden />
                                            <input asp-for="@Model.AnalysisParameters.HistogramParameters.NumberColumns[n].PositionInDataset" value="@Model.AnalysisParameters.HistogramParameters.NumberColumns[n].PositionInDataset" readonly hidden />

                                            @{n++;}
                                        </td>
                                    }
                                    else
                                    {
                                        var stringColumn = Model.AnalysisParameters.HistogramParameters.StringColumns.Where(z => z.PositionInDataset == j).FirstOrDefault();

                                        <td>
                                            @stringColumn.AttributeValue[i]

                                            <input asp-for="@Model.AnalysisParameters.HistogramParameters.StringColumns[s].AttributeValue" value="@Model.AnalysisParameters.HistogramParameters.StringColumns[s].AttributeValue" readonly hidden />
                                            <input asp-for="@Model.AnalysisParameters.HistogramParameters.StringColumns[s].PositionInDataset" value="@Model.AnalysisParameters.HistogramParameters.StringColumns[s].PositionInDataset" readonly hidden />

                                            @{s++;}
                                        </td>
                                    }
                                }
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
