@model DataAnalysisSystem.DTO.DatasetDTO.ShareDatasetActionViewModel

@{
    ViewData["Title"] = "Shared Datasets";
}

<div class="card" style="display:block; margin-bottom: 5vh">
    <div class="card-content">
        <span class="card-title center">My not shared datasets</span>
    </div>

    <table id="table-custom-elements" class="row-border" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NotSharedDatasets.FirstOrDefault().DatasetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NotSharedDatasets.FirstOrDefault().NumberOfColumns)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NotSharedDatasets.FirstOrDefault().NumberOfRows)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NotSharedDatasets.FirstOrDefault().InputFileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NotSharedDatasets.FirstOrDefault().InputFileFormat)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dataset in Model.NotSharedDatasets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => dataset.DatasetName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => dataset.NumberOfColumns)
                    </td>
                    <td>
                        @Html.DisplayFor(model => dataset.NumberOfRows)
                    </td>
                    <td>
                        @Html.DisplayFor(model => dataset.InputFileName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => dataset.InputFileFormat)
                    </td>
                    <td>
                        <a asp-action="ShareDataset" asp-controller="Dataset" asp-route-datasetIdentificator="@dataset.DatasetIdentificator" class="waves-effect waves-light btn teal lighten-1 white-text">Share</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="card" style="display:block; margin-bottom: 5vh">
    <div class="card-content">
        <span class="card-title center">My shared datasets</span>
    </div>

    <table id="table-custom-elements2" class="row-border" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SharedDatasets.FirstOrDefault().DatasetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SharedDatasets.FirstOrDefault().NumberOfColumns)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SharedDatasets.FirstOrDefault().NumberOfRows)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SharedDatasets.FirstOrDefault().InputFileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SharedDatasets.FirstOrDefault().InputFileFormat)
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dataset in Model.SharedDatasets)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => dataset.DatasetName)
                </td>
                <td>
                    @Html.DisplayFor(model => dataset.NumberOfColumns)
                </td>
                <td>
                    @Html.DisplayFor(model => dataset.NumberOfRows)
                </td>
                <td>
                    @Html.DisplayFor(model => dataset.InputFileName)
                </td>
                <td>
                    @Html.DisplayFor(model => dataset.InputFileFormat)
                </td>
                <td>
                    DETAILS
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{

    <script>

        $(document).ready(function () {
            $('.collapsible').collapsible();
        });

        $(document).ready(function () {
            $("#table-custom-elements").DataTable({ processing: true, language: { search: "", searchPlaceholder: "Enter search term" }, order: [0, "asc"], dom: 'ft<"footer-wrapper"l<"paging-info"ip>>', /*columnDefs: [{ "className": "dt-center", "targets": "_all" }],*/ scrollX: true, scrollCollapse: !0, pagingType: "full_numbers", drawCallback: function (t) { var e = this.api(); $(e.table().container()).find(".paginate_button").addClass("waves-effect"), e.table().columns.adjust() } });
            jQuery("select").not(".disabled").formSelect();

        });

        $(document).ready(function () {
            $("#table-custom-elements2").DataTable({ processing: true, language: { search: "", searchPlaceholder: "Enter search term" }, order: [0, "asc"], dom: 'ft<"footer-wrapper"l<"paging-info"ip>>', /*columnDefs: [{ "className": "dt-center", "targets": "_all" }],*/ scrollX: true, scrollCollapse: !0, pagingType: "full_numbers", drawCallback: function (t) { var e = this.api(); $(e.table().container()).find(".paginate_button").addClass("waves-effect"), e.table().columns.adjust() } });
            jQuery("select").not(".disabled").formSelect();

        });

        $("#modalDeleteDataset").modal(), $(".scrollspy").scrollSpy();

    </script>
}

@section Notification
{
    <div class="row">
        <div class="col s8 offset-s2">

            @if (ViewData["Message"] != null)
            {

                <h2 class="alert alert-info" role="alert">@ViewData["Message"]</h2>
            }

        </div>
    </div>
}