@model DataAnalysisSystem.DTO.DatasetDTO.SharedDatasetsBrowserViewModel

@{
    ViewData["Title"] = "Datasets Browser";
}

<div class="row" style="margin-top: 5vh; margin-bottom: 2vh">

    <div class="col s12 m10 l8 offset-m1 offset-l2">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">Datasets Browser</span>

                <div class="center-align" style="margin-top: 10px">

                    <form id="AddNewDatasetSharedToForm" method="post" asp-action="SharedDatasetsBrowser" asp-controller="Dataset">

                        <div class="input-field" style="width:70%; margin:auto;">

                            <i class="material-icons prefix">vpn_key</i>
                            <input type="text" asp-for="NewSharedDatasetAccessKey" required="" aria-required="true" class="validate">
                            <label asp-for="NewSharedDatasetAccessKey"></label>

                        </div>

                        <div class="center-align" style="margin-top: 10px">
                            <button class="btn waves-effect waves-light" type="submit">
                                Add
                            </button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>

</div>

<div class="row" style="margin-bottom: 5vh">
    <div class="col s12">
        <div class="card" style="display:block;">
            <div class="card-content">
                <span class="card-title center">Datasets shared to me</span>

                @{await Html.RenderPartialAsync("_LoadingIndicatorPartial", "dataTableLoadingIndicator");}

                <table id="datasetsInfoList" class="row-border highlight striped" cellspacing="0" width="100%" style="display:none">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.SharedDatasets.FirstOrDefault().DatasetName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SharedDatasets.FirstOrDefault().NumberOfColumns)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SharedDatasets.FirstOrDefault().NumberOfRows)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SharedDatasets.FirstOrDefault().InputFileName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SharedDatasets.FirstOrDefault().InputFileFormat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SharedDatasets.FirstOrDefault().DateOfEdition)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SharedDatasets.FirstOrDefault().OwnerName)
                            </th>
                            <th>
                                Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dataset in Model.SharedDatasets)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => dataset.DatasetName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => dataset.NumberOfColumns)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => dataset.NumberOfRows)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => dataset.InputFileName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => dataset.InputFileFormat)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => dataset.DateOfEdition)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => dataset.OwnerName)
                                </td>
                                <td>
                                    <a asp-action="SharedDatasetDetails" asp-controller="Dataset" asp-route-datasetIdentificator="@dataset.DatasetIdentificator" class="waves-effect waves-light btn teal lighten-1 white-text">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @{await Html.RenderPartialAsync("_DataTableWLoadingIndicatorInitScript", new DataTableInitScriptWithLoadingIndicatorViewModel { DataTableId = "datasetsInfoList", LoadingIndicatorId = "dataTableLoadingIndicator" });}

    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
    </script>
}

@section Notification
{
    @{await Html.RenderPartialAsync("_NotificationMenuValidationAndMessage", new NotificationMenuViewModel { NotificationContainerId = "notificationContainer" });}
}
