@model IEnumerable<DataAnalysisSystem.DTO.DatasetDTO.DatasetOverallInformationViewModel>

@{
    ViewData["Title"] = "My datasets";
}

<div class="row" style="margin-top: 5vh; margin-bottom: 5vh">
    <div class="col s12">

        <div class="card" style="display:block;">
            <div class="card-content">
                <span class="card-title center">My datasets</span>

                @{await Html.RenderPartialAsync("_LoadingIndicatorPartial", "dataTableLoadingIndicator");}

                <table id="datasetsInfoList" class="row-border" cellspacing="0" width="100%" style="display:none">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DatasetName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NumberOfColumns)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NumberOfRows)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InputFileName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateOfEdition)
                            </th>
                            <th>
                                Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dataset in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => dataset.DatasetName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => dataset.NumberOfColumns)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => dataset.NumberOfRows)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => dataset.InputFileName)@Html.DisplayFor(model => dataset.InputFileFormat)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => dataset.DateOfEdition)
                                </td>
                                <td>
                                    <a asp-action="DatasetDetails" asp-controller="Dataset" asp-route-datasetIdentificator="@dataset.DatasetIdentificator" class="waves-effect waves-light btn teal lighten-1 white-text">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @{await Html.RenderPartialAsync("_DataTableWLoadingIndicatorInitScript", new DataTableInitScriptWithLoadingIndicatorViewModel { DataTableId = "datasetsInfoList", LoadingIndicatorId = "dataTableLoadingIndicator" });}

    <script>
        $(document).ready(function () {
            $('.tooltipped').tooltip();
            $('.collapsible').collapsible();
        });
    </script>
}

@section Notification
{
    @{await Html.RenderPartialAsync("_NotificationMenuMessage", new NotificationMenuViewModel { NotificationContainerId = "notificationContainer" });}
}
